<html>
<head>
<title>My Orders</title>
<!--<style>
    #compDiv{
        border: 2px black solid;
        width:600px;
    }
</style>-->
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
<script type="text/javascript">
$(function(){	

function createTable(data){
    total = 0;
    var OrdersTable = `
        <table border=1 id="ordersTbl" class="search">
            <tr>
                <th>orderDate</th>
                <th>status</th>
                <th>amount</th>
                <th>action</th>
            </tr>
        `;
    data.forEach(function(order,index){
        total += parseInt(order.totalPrice);
        OrdersTable += `<tr>  
            <td>`+ order.orderDate+` <button value="`+order.orderDate+`">+</button></td>
            <td>`+ order.status+`</td>
            <td>`+ order.totalPrice+` LE</td>
            <td>`+ order.action+`</td>
            </tr>`;
      })
    OrdersTable+=`</table>`;
        
    return OrdersTable;
}
function createDiv(componentsArr){
    console.log("comp arr:",componentsArr);
    var componentDiv = `<div id="compDiv">`;
    for(var i=1;i<componentsArr.length;i++){
        console.log("i: ",i," : ",componentsArr[i]);
        componentDiv += `<div class="component">`;
        componentDiv+=`<h5>`+componentsArr[i].name+`</h5>`;
        componentDiv+=`<p>`+componentsArr[i].price+` LE</p>`;
        componentDiv+=`<img src="/img/`+componentsArr[i].image+`" width="100" height="100">`;
        componentDiv+=`<p>`+componentsArr[0][i-1].number+`<p>`;
        componentDiv+=`</div>`;
    }
    componentDiv+=`</div>`;
    
    
    return componentDiv;
}

$('#submitBtn').click(function(e){
    e.preventDefault();
    var data = {};
    data.dateFrom = document.getElementById("dateFrom").value;
    data.dateTo = document.getElementById("dateTo").value;
    $.ajax({
        type: 'GET',
        data: data,
        contentType: 'application/json',
        url: 'http://localhost:9090/myOrders/search',						
        success: function(res) {
            $("#ordersTbl").remove();
            var tableData =  createTable(res); 
            $('#OrdersDiv').append( tableData);
            $('button').click(function(e){
                var btnText = e.currentTarget.innerText;
                var date = {};
                date.orderDate=e.target.attributes.value.value;
                if(btnText == "+"){
                $.ajax({
                    type: 'GET',
                    data: date,
                    contentType: 'application/json',
                    url: 'http://localhost:9090/myOrders/component',						
                    success: function(res) {
                        //console.log("comp ajax",res);
                        e.currentTarget.innerText="-";
      
                       $("#compDiv").remove();
                        var orderComponent=createDiv(res);
                        $('#ComponentDiv').append(orderComponent);
                        
                        
                }});
                }else{
                e.currentTarget.innerText="+";
                $("#compDiv").remove();
                }
            });
            $("#Total").text("Total : "+total+"  LE");
        }
    });    
});				
});
   
</script>
<link rel="stylesheet" href="/css/style1.css">
 <link rel="stylesheet" href="/css/myOrderStyle.css">
</head>
<body>
    
    <!-- start header -->
    <div id="header">
            <div id="header-container">
                <a href="/orderUser/" id="logo">
                    <img src="../img/ka.png" alt="logo" width="70" height="70" />
                </a>
                <input  type="text" placeholder="search"/>
                <ul>
                    <li>
                        <a href="/orderUser/">Home</a>
                    </li>
                    <li>
                        <a href="/myOrders/myOrder">MY Orders</a>
                    </li>
    
                    <li>
                        <a href=""><%=username%></a>
                    </li>
                    <li>
                        <a href="">
                            <img class="profImg" src="../img/min3.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="" class="sign">Logout</a>
                    </li>
    
                </ul>
            </div>
        </div>
        <!-- end header -->
    
        
<h1>My orders</h1>

    <%if(msg !=''){%>
        <h3><%=msg%></h3>
    <%}%>
 
    <form method="get" class="search" >
        <label>Date From </label><input id="dateFrom" type="date" name="datefrom" value="2018-02-11">&nbsp;&nbsp;&nbsp; 
        <label>Date To </label><input  id="dateTo" type="date" name="dateto" value="2018-02-16"> &nbsp;&nbsp;&nbsp;
        <input id="submitBtn" type="submit" value="search">
    </form><br>
    <div id="OrdersDiv"></div><br>
    <div id="ComponentDiv"></div><br>
    <h3 id="Total"></h3> 

<%include ../layout/footer.ejs%>    
