<html>
<head>
<title></title>

</head>
<body>
    <a href="/adminHome/">Home </a> | 
    <a href="/products/">Products </a> |
    <a href="/users/">Users </a> |
    <a href="/orderAdmin/">Manual Order </a> |
    <a href="/checks/">Checks </a> |
    <a href="/addProduct/">Add product </a> |
    <a href="/addUser/">Add user </a> 
    <br>
    <h5> welcome <%=username%> </h5>
    
    