<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/style1.css">
</head>
<body>


    <!-- start header -->
    <div id="header">
            <div id="header-container">
                <a href="/orderUser/" id="logo">
                    <img src="../img/ka.png" alt="logo" width="70" height="70" />
                </a>
                <input  type="text" placeholder="search"/>
                <ul>
                    <li>
                        <a href="/orderUser/">Home</a>
                    </li>
                    <li>
                        <a href="/myOrders/myOrder">MY Orders</a>
                    </li>
    
                    <li>
                        <a href=""><%=username%></a>
                    </li>
                    <li>
                        <a href="">
                            <img class="profImg" src="../img/min3.jpg" />
                        </a>
                    </li>
                    <li>
                        <a href="" class="sign">Logout</a>
                    </li>
    
                </ul>
            </div>
        </div>
        <!-- end header -->
    <!--
    <a href="/orderUser/">Home </a> | 
    <a href="/myOrders/myOrder">My Orders </a>  
    <br>
    <h5> welcome <%=username%> </h5>
    -->
    